.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
	  /*height: 8em;*/
}

.navbar
{
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-color: #e7e7e7;
}
.navbar-header{
	width: 100%;
}

.modal-footer {
    padding: 15px;
    text-align: justify;
    border-top: 1px solid #e5e5e5;
}

.breadcrumb
{
  padding: 10px;
  color: #434a54;
  background-color: white;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.breadcrumb a{
  color: #26A65B;
}


.nav-tabs .nav-item {
    background-color: rgba(227, 227, 227, 0.5) !important;
    float: left;
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    color: #26A65B;
}

.nav-tabs .nav-link.active{
  font-weight: 500;
}
