    <div class="card" *ngFor="let card of rows">
      <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" [src]="card.img"
           data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
      <div class="card-block">
        <span class="tag tag-success">{{card.tag}}</span>
        <h4 class="card-title">{{card.title}}</h4>
        <p class="card-text fade">{{card.text}}</p>
      </div>
    </div>

    <pagination
    [current] = "pagination.current"
    [totalRecords] = "pagination.totalRecords"
    [recordPerPage] = "pagination.recordPerPage"
    [previous] = "pagination.previous"
    [next] = "pagination.next"
    [pagination] = "pagination.pagination"
    [totalRows] = "rows.length"
    ></pagination>
