<div class="table table-striped media" *ngFor="let media of rows.Registros">
  <a class="media-left">
    <img class="media-object" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="{{protocol}}//i.ytimg.com/vi/{{media.UNV_TX_HASH}}/hqdefault.jpg" data-holder-rendered="true">
  </a>
  <div class="media-body">
    <div class="row">
      <div class="col-md-10">
        <span class="tag tag-success">{{media.UNT_TAG.UNT_TX_NOME}}</span>
        <h6 class="media-heading">{{media.UNV_TX_TITULO}}</h6>
        <p class="fade">{{ media.UNV_TX_DESCRICAO }}</p>
      </div>
      <div class="col-md-2">

        <div class="btn-group" style=" margin-top: 5px; margin-right: 5px; float: right;">
          <button type="button" class="btn btn-secondary dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item"
                    data-toggle="modal"
                    data-target=".bd-modal-edit"
                    (click)="onVideoEditSelected({ HASH : media.UNV_TX_HASH,
                                                      ID: media.UNV_ID_VIDEOS,
                                                  TITULO: media.UNV_TX_TITULO,
                                                   TEXTO: media.UNV_TX_DESCRICAO,
                                                  ID_TAG: media.UNT_TAG.UNT_ID_TAG,
                                                NAME_TAG: media.UNT_TAG.UNT_TX_NOME,
                                                  OBJECT: media})"
                    type="button">Editar</button>
            <button class="dropdown-item"
                    type="button"
                    (click)="onVideoApagarSelected({ ID: media.UNV_ID_VIDEOS,
                                                     OBJECT: media})"
             >Apagar</button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<pagination
[current] = "current"
[totalRecords] = "totalRecords"
[recordPerPage] = "recordPerPage"
[previous] = "previous"
[next] = "next"
[pagination] = "pagination"
[totalRows] = "length"
(currentUpdate)="onCurrentUpdate($event)"
></pagination>
