<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="unes_home" stopProcessing="true">
                    <match url="home" />
                    <action type="Rewrite" url="/unes" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="true">
                    </conditions>
                </rule>
                <rule name="unes_login">
                    <match url="login" />
                    <action type="Rewrite" url="/unes" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
